sp32/flows.json
[
  {
    "id": "a1c5b2f0b8e111aa",
    "type": "tab",
    "label": "IoT ESP32S3 → InfluxDB",
    "disabled": false,
    "info": "Suscripción MQTT, normalización y escritura en InfluxDB v2 (bucket iot)."
  },
  {
    "id": "bkr-mqtt-local",
    "type": "mqtt-broker",
    "name": "Mosquitto Local",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "nodered-lab",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "cfg-influx-v2",
    "type": "influxdb",
    "hostname": "",
    "port": "8086",
    "protocol": "http",
    "database": "",
    "name": "InfluxDB v2",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "http://127.0.0.1:8086",
    "rejectUnauthorized": true,
    "credentials": {
      "token": ""
    },
    "v2bucket": "iot",
    "v2org": "smarthome"
  },
  {
    "id": "mqtt-tele",
    "type": "mqtt in",
    "z": "a1c5b2f0b8e111aa",
    "name": "ESP32S3 tele",
    "topic": "home/lab/esp32s3/tele",
    "qos": "0",
    "datatype": "auto",
    "broker": "bkr-mqtt-local",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 160,
    "y": 100,
    "wires": [["json-parse-tele","dbg-tele-in"]]
  },
  {
    "id": "json-parse-tele",
    "type": "json",
    "z": "a1c5b2f0b8e111aa",
    "name": "Parse JSON tele",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 370,
    "y": 100,
    "wires": [["fn-tele-to-points"]]
  },
  {
    "id": "fn-tele-to-points",
    "type": "function",
    "z": "a1c5b2f0b8e111aa",
    "name": "tele → Influx points",
    "func": "// payload esperado: { t: <num>, h: <num>, pir: \"MOTION\"|\"CLEAR\" }\nconst o = msg.payload || {};\nconst t = Number(o.t);\nconst h = Number(o.h);\nconst pir = (String(o.pir).toUpperCase() === 'MOTION') ? 1 : 0;\n\nconst tags = { device: 'esp32s3', location: 'lab' };\n\n// Generamos dos puntos: dht (temp/hum) y pir (motion)\nconst points = [];\nif (!Number.isNaN(t) || !Number.isNaN(h)) {\n  const fields = {};\n  if (!Number.isNaN(t)) fields.temp = t;\n  if (!Number.isNaN(h)) fields.hum = h;\n  points.push({ measurement: 'dht', tags, fields });\n}\npoints.push({ measurement: 'pir', tags, fields: { motion: pir } });\n\nmsg.payload = points; // node influxdb out acepta array de puntos\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 590,
    "y": 100,
    "wires": [["dbg-tele-points","out-influx"]]
  },
  {
    "id": "mqtt-pir",
    "type": "mqtt in",
    "z": "a1c5b2f0b8e111aa",
    "name": "ESP32S3 pir/state",
    "topic": "home/lab/esp32s3/pir/state",
    "qos": "0",
    "datatype": "auto",
    "broker": "bkr-mqtt-local",
    "nl": false,
    "rap": true,
    "rh": 2,
    "x": 160,
    "y": 180,
    "wires": [["fn-pir-to-point","dbg-pir-in"]]
  },
  {
    "id": "fn-pir-to-point",
    "type": "function",
    "z": "a1c5b2f0b8e111aa",
    "name": "pir/state → point",
    "func": "const s = String(msg.payload).trim().toUpperCase();\nconst motion = (s === 'MOTION') ? 1 : 0;\nmsg.payload = [{\n  measurement: 'pir',\n  tags: { device: 'esp32s3', location: 'lab' },\n  fields: { motion }\n}];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 180,
    "wires": [["out-influx","dbg-pir-point"]]
  },
  {
    "id": "mqtt-temp",
    "type": "mqtt in",
    "z": "a1c5b2f0b8e111aa",
    "name": "ESP32S3 dht/temp",
    "topic": "home/lab/esp32s3/dht/temp",
    "qos": "0",
    "datatype": "auto",
    "broker": "bkr-mqtt-local",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 170,
    "y": 260,
    "wires": [["fn-temp-to-point","dbg-temp-in"]]
  },
  {
    "id": "fn-temp-to-point",
    "type": "function",
    "z": "a1c5b2f0b8e111aa",
    "name": "temp → point",
    "func": "const v = Number(msg.payload);\nif (Number.isNaN(v)) return null;\nmsg.payload = [{\n  measurement: 'dht',\n  tags: { device: 'esp32s3', location: 'lab' },\n  fields: { temp: v }\n}];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 260,
    "wires": [["out-influx","dbg-temp-point"]]
  },
  {
    "id": "mqtt-hum",
    "type": "mqtt in",
    "z": "a1c5b2f0b8e111aa",
    "name": "ESP32S3 dht/hum",
    "topic": "home/lab/esp32s3/dht/hum",
    "qos": "0",
    "datatype": "auto",
    "broker": "bkr-mqtt-local",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 170,
    "y": 320,
    "wires": [["fn-hum-to-point","dbg-hum-in"]]
  },
  {
    "id": "fn-hum-to-point",
    "type": "function",
    "z": "a1c5b2f0b8e111aa",
    "name": "hum → point",
    "func": "const v = Number(msg.payload);\nif (Number.isNaN(v)) return null;\nmsg.payload = [{\n  measurement: 'dht',\n  tags: { device: 'esp32s3', location: 'lab' },\n  fields: { hum: v }\n}];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 320,
    "wires": [["out-influx","dbg-hum-point"]]
  },
  {
    "id": "out-influx",
    "type": "influxdb out",
    "z": "a1c5b2f0b8e111aa",
    "influxdb": "cfg-influx-v2",
    "name": "Write → Influx (bucket iot)",
    "measurement": "",
    "precision": "",
    "retentionPolicy": "",
    "database": "",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "smarthome",
    "bucket": "iot",
    "x": 910,
    "y": 160,
    "wires": []
  },
  {
    "id": "dbg-tele-in",
    "type": "debug",
    "z": "a1c5b2f0b8e111aa",
    "name": "DBG tele (raw)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 360,
    "y": 60,
    "wires": []
  },
  {
    "id": "dbg-tele-points",
    "type": "debug",
    "z": "a1c5b2f0b8e111aa",
    "name": "DBG tele (points)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 820,
    "y": 100,
    "wires": []
  },
  {
    "id": "dbg-pir-in",
    "type": "debug",
    "z": "a1c5b2f0b8e111aa",
    "name": "DBG pir/state (raw)",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 400,
    "y": 220,
    "wires": []
  },
  {
    "id": "dbg-pir-point",
    "type": "debug",
    "z": "a1c5b2f0b8e111aa",
    "name": "DBG pir (point)",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 650,
    "y": 180,
    "wires": []
  },
  {
    "id": "dbg-temp-in",
    "type": "debug",
    "z": "a1c5b2f0b8e111aa",
    "name": "DBG temp (raw)",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 380,
    "y": 300,
    "wires": []
  },
  {
    "id": "dbg-temp-point",
    "type": "debug",
    "z": "a1c5b2f0b8e111aa",
    "name": "DBG temp (point)",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 650,
    "y": 260,
    "wires": []
  },
  {
    "id": "dbg-hum-in",
    "type": "debug",
    "z": "a1c5b2f0b8e111aa",
    "name": "DBG hum (raw)",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 380,
    "y": 340,
    "wires": []
  },
  {
    "id": "dbg-hum-point",
    "type": "debug",
    "z": "a1c5b2f0b8e111aa",
    "name": "DBG hum (point)",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 650,
    "y": 320,
    "wires": []
  }
]
