sp32/flows.json
[
  {
    "id": "tab-esp32",
    "type": "tab",
    "label": "ESP32 → MQTT → Influx",
    "disabled": false,
    "info": ""
  },
  {
    "id": "cfg-mqtt",
    "type": "mqtt-broker",
    "name": "Mosquitto Local",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "nodered-lab",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "willTopic": "nodered/lwt",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "offline",
    "credentials": {
      "user": "esp32user",
      "password": "esp32pass"
    }
  },
  {
    "id": "cfg-influx2",
    "type": "influxdb",
    "hostname": "127.0.0.1",
    "port": "8086",
    "protocol": "http",
    "database": "",
    "name": "Influx v2 (iot)",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "http://127.0.0.1:8086",
    "timeout": "20000",
    "rejectUnauthorized": true,
    "credentials": {
      "token": "PASTE_YOUR_TOKEN_HERE"
    },
    "v2Bucket": "iot",
    "v2Org": "smarthome"
  },
  {
    "id": "mqtt-tele",
    "type": "mqtt in",
    "z": "tab-esp32",
    "name": "ESP32S3 tele",
    "topic": "home/lab/esp32s3/tele",
    "qos": "0",
    "datatype": "auto",
    "broker": "cfg-mqtt",
    "nl": false,
    "rap": false,
    "rh": 0,
    "x": 160,
    "y": 120,
    "wires": [
      [
        "dbg-tele-raw",
        "fn-tele"
      ]
    ]
  },
  {
    "id": "dbg-tele-raw",
    "type": "debug",
    "z": "tab-esp32",
    "name": "DBG tele (raw)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 420,
    "y": 80,
    "wires": []
  },
  {
    "id": "fn-tele",
    "type": "function",
    "z": "tab-esp32",
    "name": "tele → points",
    "func": "// Convierte JSON tele en puntos para Influx v2\n// Espera payload como string JSON: {\"t\":24.9,\"h\":49.9,\"pir\":\"MOTION\"}\n\nconst tags = { device: \"esp32s3\", location: \"lab\" };\nlet obj;\ntry {\n  obj = (typeof msg.payload === 'string') ? JSON.parse(msg.payload) : msg.payload;\n} catch (e) {\n  node.error(\"JSON inválido en tele\", msg);\n  return null;\n}\n\nconst points = [];\n\nif (typeof obj.t === \"number\" && !Number.isNaN(obj.t)) {\n  points.push({ measurement: \"dht\", tags, fields: { temp: obj.t } });\n}\nif (typeof obj.h === \"number\" && !Number.isNaN(obj.h)) {\n  points.push({ measurement: \"dht\", tags, fields: { hum: obj.h } });\n}\nif (typeof obj.pir === \"string\") {\n  const motion = obj.pir.toUpperCase() === \"MOTION\" ? 1 : 0;\n  points.push({ measurement: \"pir\", tags, fields: { motion } });\n}\n\nif (!points.length) return null;\n\nmsg.payload = points;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 140,
    "wires": [
      [
        "dbg-tele-points",
        "out-influx"
      ]
    ]
  },
  {
    "id": "dbg-tele-points",
    "type": "debug",
    "z": "tab-esp32",
    "name": "DBG tele (points)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 660,
    "y": 100,
    "wires": []
  },
  {
    "id": "mqtt-temp",
    "type": "mqtt in",
    "z": "tab-esp32",
    "name": "ESP32S3 dht/temp",
    "topic": "home/lab/esp32s3/dht/temp",
    "qos": "0",
    "datatype": "auto",
    "broker": "cfg-mqtt",
    "nl": false,
    "rap": false,
    "rh": 0,
    "x": 160,
    "y": 220,
    "wires": [
      [
        "fn-temp"
      ]
    ]
  },
  {
    "id": "fn-temp",
    "type": "function",
    "z": "tab-esp32",
    "name": "temp → point",
    "func": "const v = parseFloat(msg.payload);\nif (Number.isNaN(v)) return null;\n\nmsg.payload = [{\n  measurement: \"dht\",\n  tags: { device: \"esp32s3\", location: \"lab\" },\n  fields: { temp: v }\n}];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 220,
    "wires": [
      [
        "out-influx"
      ]
    ]
  },
  {
    "id": "mqtt-hum",
    "type": "mqtt in",
    "z": "tab-esp32",
    "name": "ESP32S3 dht/hum",
    "topic": "home/lab/esp32s3/dht/hum",
    "qos": "0",
    "datatype": "auto",
    "broker": "cfg-mqtt",
    "nl": false,
    "rap": false,
    "rh": 0,
    "x": 160,
    "y": 280,
    "wires": [
      [
        "fn-hum"
      ]
    ]
  },
  {
    "id": "fn-hum",
    "type": "function",
    "z": "tab-esp32",
    "name": "hum → point",
    "func": "const v = parseFloat(msg.payload);\nif (Number.isNaN(v)) return null;\n\nmsg.payload = [{\n  measurement: \"dht\",\n  tags: { device: \"esp32s3\", location: \"lab\" },\n  fields: { hum: v }\n}];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 280,
    "wires": [
      [
        "out-influx"
      ]
    ]
  },
  {
    "id": "out-influx",
    "type": "influxdb out",
    "z": "tab-esp32",
    "influxdb": "cfg-influx2",
    "name": "Write → Influx (bucket iot)",
    "measurement": "",
    "precision": "",
    "retentionPolicy": "",
    "database": "",
    "precisionV18FluxV20": "ms",
    "org": "smarthome",
    "bucket": "iot",
    "x": 720,
    "y": 220,
    "wires": []
  }
]
